{% if column.type == 'podcast' and podcast %}
<section class="podcast-info h-card info-card">
  {% if podcast.image %}
    <img class="u-photo" src="{{ podcast.image|thumbnail('ss') }}" loading="lazy" alt="{{ column.title }}" width="160" height="160">
  {% elif site.glyph_logo %}
    <img class="u-photo" src="{{ site.glyph_logo|thumbnail('ss') }}" loading="lazy" alt="{{ site.name }}" width="160" height="160">
  {% endif %}
  <div class="podcast-info_content">
    <h1>
      <a class="p-name u-url" href="{{ site.base_url }}{{ column.url }}">{{ podcast.title }}</a>
    </h1>
    {% if podcast.subtitle %}
      <h2>{{ podcast.subtitle }}</h2>
    {% endif %}
    {% if theme_podcast_links %}
      <div class="podcast-links">
        {% for item in theme_podcast_links %}
          <a href="{{ item.url }}"{% if item.blank %} target="_blank"{% endif %}>
            {# TODO special handle for xiaoyuzhou #}
            <iconify-icon icon="{{ item.icon }}"></iconify-icon>
            <span>{{ item.title }}</span>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
{% else %}
<section class="column-info info-card">
  <h1>{{ column.title }}</h1>
  {% if column.subtitle %}
    <h2>{{ column.subtitle }}</h2>
  {% endif %}
</section>
{% endif %}
