<section class="site-info h-card info-card">
  {% if site.glyph_logo_light %}
    {% if site.glyph_logo_dark %}
      <span class="light-logo">
        <img class="u-photo" src="{{ site.glyph_logo_light|thumbnail('ss') }}" loading="lazy" alt="{{ site.name }}" width="160" height="160">
      </span>
      <span class="u-photo" class="dark-logo">
        <img src="{{ site.glyph_logo_dark|thumbnail('ss') }}" loading="lazy" alt="{{ site.name }}" width="160" height="160">
      </span>
    {% else %}
      <span class="light-logo dark-logo">
        <img class="u-photo" src="{{ site.glyph_logo_light|thumbnail('ss') }}" loading="lazy" alt="{{ site.name }}" width="160" height="160">
      </span>
    {% endif %}
  {% endif %}
  <div class="site-info_content">
    <h1>
      <a class="p-name u-url" href="{{ site.base_url }}">{{ site.name }}</a>
    </h1>
    <h2>{{ site.description }}</h2>
  </div>
</section>
