@import "./components/info-card.css";

.h-entry {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.info-card + .h-entry {
  padding-top: 3rem;
  border-top: 1px solid var(--gray-a3);
}

.entry-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--gray-9);
  font-size: 14px;
  margin-bottom: 10px;
}

.entry-meta .column {
  padding: 4px 10px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-a10);
  background-color: var(--gray-a3);
}

.entry-meta .column:hover {
  color: var(--accent-a10);
  background-color: var(--accent-a3);
}

time.dt-published {
  text-transform: uppercase;
}

h1.p-name {
  font-size: 38px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--gray-12);
}

h2.p-summary {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 300;
  color: var(--gray-10);
}
