@import "./components/info-card.css";

.h-entry {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.info-card + .h-entry {
  padding-top: 3rem;
  border-top: 1px solid var(--gray-a3);
}

.entry-meta {
  vertical-align: middle;
  color: var(--gray-9);
  font-size: 14px;
  margin-bottom: 10px;
}

.entry-meta a {
  text-decoration: none;
  color: var(--gray-10);
  font-weight: 700;
}

time.dt-published {
  text-transform: uppercase;
  vertical-align: middle;
}
