.site-foot {
  padding-left: max(env(safe-area-inset-right), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  border-top: 1px solid var(--gray-a4);
  background-color: var(--gray-1);
}

.site-foot_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--system-sans), sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--text-color);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.site-foot_links a {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0 4px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: var(--gray-11);
}

.site-foot_links a:hover {
  color: var(--accent-9);
  border-color: var(--accent-9);
}

.site-foot_links a + a {
  margin-left: 20px;
}

.site-foot_logo {
  display: inline-block;
  margin-right: 4px;
}

.site-foot_logo img {
  height: 32px;
  vertical-align: middle;
}

.site-foot_logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-12);
  vertical-align: middle;
}

.site-foot_copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--gray-10);
  font-size: 0.875rem;
  font-weight: 500;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.site-foot_copyright a {
  text-decoration: none;
  color: inherit;
}


.site-foot_copyright a:hover {
  text-decoration: underline;
}

.site-foot_copyright .icon-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.site-foot_copyright .icon-links a:hover {
  color: var(--gray-12);
}

.has-foot-links .site-foot_copyright{
  border-top: 0;
}

.has-foot-links .site-foot_content {
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.has-foot-links .site-foot_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.section-links {
  min-width: 200px;
}

.section-links > h1 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-11);
}

.section-links ul {
  list-style: none;
  padding: 0;
  margin: 0.875rem 0;
}

.section-links li {
  padding: 0.25rem 0;
}

.section-links a {
  padding: 0;
  font-weight: 500;
  color: var(--text-color);
}

.section-links a:hover {
  color: var(--accent-9);
}

@media (max-width: 680px) {
  .site-foot_content {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .site-foot_links a {
    padding: 0 0 2px 0;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
  }

  .has-foot-links .site-foot_links {
    width: 100%;
  }
}
