<button class="js-menu hamburger aria-tip" aria-label="Menu" type="button" aria-controls="HeadNav" aria-expanded="false">
  <div class="hamburger_box">
    <span class="hamburger_1"></span>
    <span class="hamburger_2"></span>
    <span class="hamburger_3"></span>
  </div>
</button>
