<ul class="nav-links">
  {%- for link in theme_nav_links -%}
    {%- if link.children %}
      <li class="link">
        {%- if link.url == '#' -%}
          <button type="button">
            <span>{{ link.title }}</span>
            <iconify-icon icon="lucide:chevron-down" />
          </button>
        {%- else -%}
          <a href="{{ link.url }}">
            <span>{{ link.title }}</span>
            <iconify-icon icon="lucide:chevron-down" />
          </a>
        {%- endif %}
        <ul>
          {%- for item in link.children -%}
            {%- if item.subtitle -%}
              <li><a href="{{ item.url }}">
                <span>{{ item.title }}</span>
                <small>{{ item.subtitle }}</small>
              </a></li>
            {%- else -%}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
    {%- else %}
      {%- if link.blank -%}
        <li class="link">
          <a href="{{ link.url }}" target="_blank">
            <span>{{ link.title }}</span>
            <iconify-icon icon="lucide:move-up-right" />
          </a>
        </li>
      {%- else -%}
        <li class="link"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</ul>
