@import "tailwindcss";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--base-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
