{% block styles %}
<link rel="preconnect" href="https://use.typkit.net">
<link rel="stylesheet" href="https://use.typekit.net/zbe5yhf.css">
<link rel="stylesheet" href="{{ _static_url }}/index.css">
{% endblock %}

{% block scripts %}
<script src="https://code.iconify.design/iconify-icon/2.2.0/iconify-icon.min.js"></script>
<script src="{{ _static_url }}/index.js" type="module"></script>
{% endblock %}

{% block body %}
  {% include "./_layouts/site-head.j2" %}
  <div class="container">
    {% include "./_partials/site-info.j2" %}
    <div class="entry-list">
      {% for note in query.paginate_notes(per_page=20) %}
        {% include "./_partials/entry-item.j2" %}
      {% endfor %}
    </div>
  </div>
  {% include "./_layouts/site-foot.j2" %}
{% endblock %}
