{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700&display=swap">
<link rel="stylesheet" href="{{ _static_url }}/snow.css">
{% endblock %}

{% block scripts %}
<script src="https://code.iconify.design/iconify-icon/2.2.0/iconify-icon.min.js"></script>
<script src="{{ _static_url }}/index.js" type="module"></script>
{% include "./_partials/clipboard-copy.j2" %}
{% endblock %}

{% block body %}
  {%- set has_cover = note.cover and note.cover.src %}
  <div class="site-nav{% if has_cover %} has-cover{% endif %}">
    <a class="site-link" href="/">{{ site.name }}</a>
  </div>
  <article role="main" class="h-entry {{ note.note_type }}{% if has_cover %} has-cover{% endif %}">
    {% if has_cover %}
      <div class="entry-cover">
        <img class="u-photo" src="{{ note.cover|thumbnail }}" alt="{{ note.title }}">
      </div>
    {% endif %}
    <div class="entry-meta inner">
      {% if note.published_at %}
        <time class="dt-published" datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
      {% endif %}
      {% if note.note_type == 'audio' %}
        {% set episode = note.audio %}
        {% if episode.season and episode.episode %}
          <span class="item-label">S{{ episode.season }}E{{ episode.episode }}</span>
        {% endif %}
        <span class="item-label">{{ episode.audio.duration|durationformat }}</span>
      {% endif %}
      {% include "./_partials/entry-tags.j2" %}
    </div>
    <div class="inner">
      <h1 class="p-name">{{ note.title }}</h1>
      {% if note.subtitle %}
        <h2 class="p-summary">{{ note.subtitle }}</h2>
      {% endif %}
      {% if note.review %}
        {% include "./_partials/review.j2" %}
      {% endif %}
      <div class="e-content">
        {% include "./_partials/entry-audio.j2" %}
        {{ note.content }}
      </div>
    </div>
  </article>
  <div class="inner">
    <div class="entry-actions">
      {% include "./_partials/enjoy-button.j2" %}
      {% include "./_partials/share-buttons.j2" %}
    </div>
    {% include "./_partials/previous-entry.j2" %}
  </div>
  <section class="entry-comments">
    <div class="inner">
      {% include "components/web-comment.j2" %}
    </div>
  </section>
  {% include "./_layouts/site-foot.j2" %}
{% endblock %}
