{% block styles %}
<link rel="preconnect" href="https://use.typkit.net">
<link rel="stylesheet" href="https://use.typekit.net/zbe5yhf.css">
<link rel="stylesheet" href="{{ _static_url }}/base.css">
<link rel="stylesheet" href="{{ _static_url }}/page.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module" async></script>
{% include "components/iconify-icon.j2" %}
{% endblock %}

{% block body %}
  {% include "./_layouts/site-head.j2" %}
  <div class="container">
    <article role="main" class="h-entry">
      <h1 class="p-name">{{ page.title }}</h1>
      <div class="e-content">
        {{ page.content }}
      </div>
    </article>
  </div>
  {% include "./_layouts/site-foot.j2" %}
{% endblock %}
