ul.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link > button {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0;
  font-size: .95rem;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  color: var(--gray-a11);
}

.nav-link > button > iconify-icon {
  color: var(--gray-a9);
}

.nav-link > a > iconify-icon {
  font-size: 68%;
  opacity: 0.6;
  color: var(--gray-a9);
}

.nav-link > a {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: .95rem;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  color: var(--gray-a11);
}

.nav-link > button:hover,
.nav-link > a:hover {
  color: var(--gray-12);
  cursor: pointer;
}

.nav-link > button > iconify-icon,
.nav-link > a > iconify-icon {
  transition: transform 0.2s ease;
}

.nav-link:hover > [aria-controls] > iconify-icon,
.nav-link > [aria-expanded="true"] > iconify-icon {
  transform: rotate(180deg);
}

.nav-sub-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-sub-link > a {
  display: flex;
  align-items: center;
  white-space: normal;
  gap: 0.825rem;
  text-decoration: none;
  color: var(--heading-color);
}

.nav-sub-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  transition: height 0.2s ease;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.nav-sub-links[aria-hidden="true"] {
  height: 0;
  visibility: hidden;
}

.nav-sub-links[aria-hidden="false"] {
  height: auto;
  visibility: visible;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-sub-links[data-grid="true"] {
  flex-direction: row;
}

.nav-sub-links[data-grid="true"] .nav-sub-link {
  flex-basis: calc(50% - 2rem);
  min-width: 240px;
  max-width: 320px;
}

.nav-sub-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--gray-a6);
  border-radius: 4px;
  color: var(--gray-a10);
  font-size: 18px;
}

.nav-sub-link > a:hover .nav-sub-link-icon {
  background-color: var(--accent-9);
  border-color: var(--accent-9);
  color: var(--accent-contrast);
}

.nav-sub-link-title {
  line-height: 1;
  flex-grow: 1;
}

.nav-sub-link-title strong {
  font-size: 0.92rem;
  font-weight: 600;
}

.nav-sub-link-title span {
  display: block;
  color: var(--gray-a10);
  margin-top: 0.25rem;
  font-weight: 400;
  font-size: 0.86rem;
}

.nav-sub-link > a:hover span {
  color: var(--accent-a9);
}

@media (max-width: 639px) {
  .nav-sub-links[data-grid="true"] .nav-sub-link {
    flex-basis: 100%;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .nav-link > a,
  .nav-link > button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.6rem;
    font-weight: 500;
  }
  .nav-sub-links {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  .nav-link > a:focus,
  .nav-link > button:focus {
    background: var(--accent-a3);
  }
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .nav-link {
    display: inline-flex;
    align-items: center;
    min-height: 48px;
  }

  ul.nav-sub-links {
    position: absolute;
    background-color: var(--background-color);
    top: 48px;
    border-radius: 6px;
    box-shadow:
    0 0 0 1px var(--gray-a3),
    0 2px 3px -2px var(--gray-a3),
    0 3px 12px -4px rgba(0, 0, 0, 0.1),
    0 4px 16px -8px rgba(0, 0, 0, 0.1);
    z-index: 9;
    max-width: 560px;
    min-width: 240px;
  }

  .nav-link:hover .nav-sub-links,
  .nav-sub-links[aria-hidden="false"] {
    height: auto;
    visibility: visible;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .nav-sub-links > li {
    padding: 0.2rem 0;
  }
}
