ul.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link > button {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0;
  font-size: .95rem;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  color: var(--gray-a11);
}

.nav-link > button > iconify-icon {
  color: var(--gray-a9);
}

.nav-link > a > iconify-icon {
  font-size: 68%;
  opacity: 0.6;
  color: var(--gray-a9);
}

.nav-link > a {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: .95rem;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  color: var(--gray-a11);
}

.nav-link > button:hover,
.nav-link > a:hover {
  color: var(--gray-12);
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-sub-link > a {
  display: flex;
  align-items: flex-start;
  white-space: normal;
  padding: 0.825rem;
  border-radius: 6px;
  gap: 0.825rem;
  text-decoration: none;
  color: var(--heading-color);
}

.nav-sub-link svg,
.nav-sub-link iconify-icon {
  font-size: 28px;
  color: var(--gray-a10);
}

.nav-sub-link > a:hover {
  background: var(--gray-a2);
}

.nav-sub-link > a:hover svg,
.nav-sub-link > a:hover iconify-icon {
  color: var(--text-color);
}

.nav-sub-link span {
  display: block;
  color: var(--gray-a10);
  margin-top: 0.25rem;
  font-weight: 400;
}

.nav-sub-links[data-grid="true"] {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.nav-sub-links[data-grid="true"] .nav-sub-link {
  flex-basis: 50%;
  min-width: 240px;
  max-width: 320px;
}

@media (max-width: 639px) {
  .nav-sub-links[data-grid="true"] .nav-sub-link {
    flex-basis: 100%;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .nav-link {
    margin: 1rem 0;
  }

  .nav-link > a > iconify-icon {
    display: none;
  }

  .nav-link > ul {
    margin: 0.5rem 0 0.5rem;
  }
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .nav-link {
    display: inline-flex;
    align-items: center;
    min-height: 48px;
  }

  ul.nav-sub-links {
    position: absolute;
    height: 0;
    visibility: hidden;
    background-color: var(--background-color);
    top: 48px;
    padding: 1rem;
    border-radius: 6px;
    box-shadow:
    0 0 0 1px var(--gray-a3),
    0 2px 3px -2px var(--gray-a3),
    0 3px 12px -4px rgba(0, 0, 0, 0.1),
    0 4px 16px -8px rgba(0, 0, 0, 0.1);
    z-index: 9;
    max-width: 480px;
    min-width: 240px;
    transition: height 0.2s ease;
  }

  .nav-link:hover > ul {
    height: auto;
    visibility: visible;
  }

  .nav-link > ul > li {
    padding: 0.2rem 0;
  }
}
