button.theme-switch {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.theme-icon {
  mask: var(--icon-url) no-repeat;
  mask-size: 100% 100%;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  background-color: var(--text-color);
}

.theme-switch .theme-icon,
[data-color-mode="auto"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-laptop-url);
}
[data-color-mode="light"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-sun-url);
}
[data-color-mode="dark"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-moon-url);
}

.light-logo, .dark-logo {
  display: none;
}
.light .light-logo {
  display: inline-block;
}
.dark .dark-logo {
  display: inline-block;
}
